<section class="container calculete-cdb ff-inter">
  <form>
    <header class="header">
      <h2>  Calcular CDB </h2>
    </header>
    <label for="applicationValue">Valor da aplicação:</label>
    <input type="text"
           class="input"
           id="applicationValue"
           name="applicationValue"
           placeholder="valor em reais (ex: R$ 100,00)"><!--[(ngModel)] = "calculateCdb.applicationValue"-->
    <label for="numberOfMonths">Prazo (meses):</label>
    <input type="number"
           class="input"
           id="numberOfMonths"
           name="numberOfMonths"
           placeholder="prazo superior à 1 mês "><!--[(ngModel)] = "calculateCdb.numberOfMonths"-->
    <div class="acoes">
      <button (click)="calculateCDB()" class="botao">Calcular</button>
      <button (click)="clearFields()" class="botao">Limpar</button>
    </div>
  </form>
</section>
