<section class="container calculete-cdb ff-inter">
  <form>
    <header class="header">
      <div class="titulo">
        <h2>  Calcular CDB </h2>
      </div>     
    </header>
    <label for="applicationValue">Valor da aplicação:</label>
    <input type="text"
           class="input"
           id="applicationValue"
           name="applicationValue"
           placeholder="Valor em reais (ex: R$ 100,00)">
    <label for="numberOfMonths">Prazo (meses):</label>
    <input type="text"
           class="input"
           id="numberOfMonths"
           name="numberOfMonths"
           placeholder="Digite o prazo superior à 1 mês ">
    <div class="acoes">
      <button class="botao">Calcular</button>
      <button class="botao">Limpar</button>
    </div>
  </form>
</section>
